.promo {
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  margin: 0 10px;
  border-radius: calc(10px + (30 - 10) * ((100vw - 320px) / (1600 - 320)));
  background: linear-gradient(76deg, #ff9d2d 1.66%, #ffd877 93.21%);
  @media (min-width: $width-tablet) {
    margin: 0 25px;
  }
  @media (min-width: $width-desktop) {
    margin: 0 100px;
    border-radius: 30px;
  }
}

.promo-logo {
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: calc(300px + (1400 - 300) * ((100vw - 320px) / (1600 - 320)));
  height: calc(111px + (611 - 111) * ((100vw - 320px) / (1600 - 320)));
  .promo-logo__svg {
    opacity: 1;
    fill: rgba(255, 166, 56, 0.4);
  }
  @media (min-width: $width-tablet) {
    top: -50px;
  }
  @media (min-width: $width-desktop) {
    top: -70px;
    width: 1400px;
    height: 611px;
  }
}

.promo__decor {
  position: absolute;
  top: 16px;
  left: -10px;
  z-index: 2;
  width: calc(30px + (154 - 30) * ((100vw - 320px) / (1600 - 320)));
  height: calc(100px + (320 - 100) * ((100vw - 320px) / (1600 - 320)));
  @media (min-width: $width-tablet) {
    left: -25px;
  }
  @media (min-width: $width-desktop) {
    left: -50px;
  }
}

.promo__container {
  z-index: 2;
  position: relative;
  margin-left: calc(20px + (140 - 20) * ((100vw - 320px) / (1600 - 320)));
  @media (min-width: $max-width) {
    margin-left: 180px;
  }
}

.promo__img {
  z-index: 2;
  margin-top: calc(20px + (120 - 20) * ((100vw - 320px) / (1600 - 320)));
  margin-bottom: calc(20px + (90 - 20) * ((100vw - 320px) / (1600 - 320)));
}

.promo__img__preview {
  width: 100%;
  height: 100%;
}

.promo-text {
  position: relative;
  z-index: 2;
  color: #0b0b0b;
  font-size: calc(16px + (100 - 16) * ((100vw - 320px) / (1600 - 320)));
  font-weight: 700;
  margin-bottom: calc(10px + (70 - 10) * ((100vw - 320px) / (1600 - 320)));
  text-align: left;
  .promo-text__second-word {
    margin-left: calc(40px + (100 - 40) * ((100vw - 320px) / (1600 - 320)));
  }
  .promo-text__third-word {
    position: relative;
    padding-left: calc(80px + (295 - 80) * ((100vw - 320px) / (1600 - 320)));
    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: calc(75px + (275 - 75) * ((100vw - 320px) / (1600 - 320)));
      height: 1px;
      bottom: calc(4px + (28 - 4) * ((100vw - 320px) / (1600 - 320)));
      left: 0;
      background-color: #000;
      opacity: 0.5;
      @media (min-width: $max-width) {
        width: 275px;
        bottom: 28px;
      }
    }
    &--decor {
      position: absolute;
      z-index: 2;
      width: calc(40px + (190 - 40) * ((100vw - 320px) / (1600 - 320)));
      height: calc(30px + (130 - 30) * ((100vw - 320px) / (1600 - 320)));
      bottom: calc(1px + (25 - 1) * ((100vw - 320px) / (1600 - 320)));
      left: 0;
      @media (min-width: $max-width) {
        width: 190px;
        height: 130px;
        bottom: 25px;
      }
    }
    @media (min-width: $max-width) {
      padding-left: 295px;
    }
  }
  @media (min-width: $max-width) {
    font-size: 100px;
  }
}

.promo-links {
  display: grid;
  gap: calc(10px + (30 - 10) * ((100vw - 320px) / (1600 - 320)));
  grid-template-columns: max-content max-content;
}

.promo-links__link {
  max-width: 100%;
  font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1600 - 320)));
  padding: 5px 10px;
  cursor: pointer;
  background: #000;
  color: #fff;
  @media (min-width: $width-tablet) {
    padding: 14px 40px;
  }
  @media (min-width: $width-desktop) {
    padding: 18px 50px;
  }
}

.link-learn {
  background: inherit;
  border: 1px solid #000;
  color: #000;
}
