.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  gap: calc(20px + (280 - 20) * ((100vw - 320px) / (1600 - 320)));
  @media (min-width: $width-tablet) {
    margin: 0 25px;
   }
   @media (min-width: $width-desktop) {
    margin: 0 50px;
    gap: 280px;
   }
}


