.our-product {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  gap: calc(20px + (50 - 20) * ((100vw - 320px) / (1600 - 320)));
  @media (min-width: $width-tablet) {
    max-width: 80%;
    margin-bottom: 65px;
  }
  @media (min-width: $width-desktop) {
    gap: 50px;
    max-width: 1200px;
    margin-bottom: 130px;
  }
}

.our-product__container {
  display: flex;
  justify-content: space-between;
}

.our-product__header {
  margin-bottom: 0;
}

.our-product__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #e58211;
  font-size: calc(8px + (18 - 8) * ((100vw - 320px) / (1600 - 320)));
  font-weight: 700;
  line-height: 160%; /* 28.8px */
  text-decoration-line: underline;
  align-self: self-end;
  @media (min-width: $width-desktop) {
    font-size: 18px;
  }
}
